<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("feerecord:feerecord:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("feerecord:feerecord:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("feerecord:feerecord:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">费用类型</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="feerecord.feetype"
                           placeholder="费用类型（0 未知、1 票据发布费、2 平台服务费、4 见证服务费 、8 资金结算费）"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">平台费用</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="feerecord.platformFee" placeholder="平台费用"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">渠道费用</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="feerecord.channelFee" placeholder="渠道费用"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">支付方ID</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="feerecord.payerid" placeholder="支付方ID"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">支付方姓名</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="feerecord.payername" placeholder="支付方姓名"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">买方id</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="feerecord.buyerid" placeholder="买方id"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">买方姓名</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="feerecord.buyername" placeholder="买方姓名"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">卖方id</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="feerecord.sellerid" placeholder="卖方id"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">卖方姓名</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="feerecord.sellername" placeholder="卖方姓名"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">票号</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="feerecord.billnumber" placeholder="票号"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">票据id</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="feerecord.billid" placeholder="票据id"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">订单号</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="feerecord.orderid" placeholder="订单号"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">发布平台id</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="feerecord.releasePlatformid" placeholder="发布平台id"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">发布平台</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="feerecord.releasePlatform" placeholder="发布平台"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">交易平台</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="feerecord.transactionPlatform" placeholder="交易平台"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">交易平台id</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="feerecord.transactionPlatformid" placeholder="交易平台id"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">创建时间</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="feerecord.createtimeinmillis" placeholder="创建时间"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..."
                       @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/feerecord/feerecord.js?_${.now?long}"></script>
</body>
</html>