<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <title>订单表</title>
    <#include "/header.html">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/modules/main.css">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
        <#if shiro.hasPermission("transaction:order:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;查看</a>
        </#if>

</div>
<table id="jqGrid"></table>
<div id="jqGridPager"></div>
</div>

<div v-show="!showList" class="panel panel-default">
    <div class="panel-heading">交易信息</div>
    <form action="${request.contextPath}/transaction/order/approve" id="inputForm" method="post"
          class="form-horizontal" style="width: 100%" enctype="multipart/form-data">
        <table class="enter-table mt-5 w-100" style="width: 100%">
            <tr>
                <td colspan="12" class="p-3">
                    <span class="text-info font-weight-bold">票面信息</span>
                </td>
            </tr>
            <tr>
                <td colspan="12">
                    <div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-sm-6 pr-0 pt-1">票号：</div>
                                <div class="col-sm-6  pl-0 pr-0">
                                    <span>12542254125412545</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-sm-6 pr-0 pt-1">是否回头背书：</div>
                                <div class="col-sm-6  pl-0 pr-0">
                                    <span>否</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-sm-6 pr-0 pt-1">票面金额：</div>
                                <div class="col-sm-6  pl-0 pr-0">
                                    <span>200000.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-sm-6 pr-0 pt-1">是否可转让：</div>
                                <div class="col-sm-6  pl-0 pr-0">
                                    <span>是</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-sm-6 pr-0 pt-1">承兑行名称：</div>
                                <div class="col-sm-6  pl-0 pr-0">
                                    <span>中国银行济宁分行</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-sm-6 pr-0 pt-1">票据类型：</div>
                                <div class="col-sm-6  pl-0 pr-0">
                                    <span>银票</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-sm-6 pr-0 pt-1">承兑行行号：</div>
                                <div class="col-sm-6  pl-0 pr-0">
                                    <span>3265112545</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-sm-6 pr-0 pt-1">承兑机构：</div>
                                <div class="col-sm-6  pl-0 pr-0">
                                    <span>国股</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-sm-6 pr-0 pt-1">到期日：</div>
                                <div class="col-sm-6  pl-0 pr-0">
                                    <span>2020-11-25</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

            </tr>
            <tr>
                <td colspan="12" class="p-3">
                    <span class="text-info font-weight-bold">票据截图</span>
                </td>
            </tr>
            <tr>
                <td colspan="12">
                    <div class="col-lg-6">
                        <div class="upload-avatar">
                            <img v-bind:src="order.status"
                                 alt="..." width="100px" height="100px" class="layui-upload-img"
                                 onclick="previewImg(this)">
                            <p class="text-black-50 mt-2">票据正面</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="upload-avatar">
                            <img v-bind:src="order.status"
                                 alt="..." width="100px" height="100px" class="layui-upload-img"
                                 onclick="previewImg(this)">
                            <p class="text-black-50 mt-2">票据背面</p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="12" class="p-3">
                    <span class="text-info font-weight-bold">交易信息</span>
                </td>
            </tr>
            <tr>
                <td colspan="12">
                    <div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-sm-6 pr-0 pt-1">订单号：</div>
                                <div class="col-sm-6  pl-0 pr-0">
                                    <span>{{ order.id }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-sm-6 pr-0 pt-1">贴现金额：</div>
                                <div class="col-sm-6  pl-0 pr-0">
                                    <span>{{ order.value }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-sm-6 pr-0 pt-1">担保渠道：</div>
                                <div class="col-sm-6  pl-0 pr-0">
                                    <span>京东智票</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-sm-6 pr-0 pt-1">平台服务费：</div>
                                <div class="col-sm-6  pl-0 pr-0">
                                    <span>350.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-sm-6 pr-0 pt-1">每十万扣款：</div>
                                <div class="col-sm-6  pl-0 pr-0">
                                    <span>{{ order.feededuction }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-sm-6 pr-0 pt-1">成交金额：</div>
                                <div class="col-sm-6  pl-0 pr-0">
                                    <span>{{ order.value }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-sm-6 pr-0 pt-1">交易方式：</div>
                                <div class="col-sm-6  pl-0 pr-0">
                                    <span>竞价交易</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td colspan="12" class="p-3">
                    <span class="text-info font-weight-bold">买卖双方信息</span>
                </td>
            </tr>

            <tr>
                <td colspan="12">
                    <div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-sm-6 pr-0 pt-1">卖方名称：</div>
                                <div class="col-sm-6  pl-0 pr-0">
                                    <span>临沂兴鲁商贸有限公司</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-sm-6 pr-0 pt-1">买方名称：</div>
                                <div class="col-sm-6  pl-0 pr-0">
                                    <span>临沂同城商贸有限公司</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-sm-6 pr-0 pt-1">卖方电话：</div>
                                <div class="col-sm-6  pl-0 pr-0">
                                    <span>15686868686</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-sm-6 pr-0 pt-1">买方电话：</div>
                                <div class="col-sm-6  pl-0 pr-0">
                                    <span>18969869869</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-sm-6 pr-0 pt-1">每十万扣款：</div>
                                <div class="col-sm-6  pl-0 pr-0">
                                    <span>{{ order.feededuction }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-sm-6 pr-0 pt-1">发布平台：</div>
                                <div class="col-sm-6  pl-0 pr-0">
                                    <span>有票么票据交易平台</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-sm-6 pr-0 pt-1">交易平台：</div>
                                <div class="col-sm-6  pl-0 pr-0">
                                    <span>我有票票据交易平台</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-sm-6 pr-0 pt-1">查看电子交易合同：</div>
                                <div class="col-sm-6  pl-0 pr-0">
                                    <span>------------</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="12" class="p-3">
                    <span class="text-info font-weight-bold">背书信息</span>
                </td>
            </tr>

            <tr>
                <td colspan="12">
                    <div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-sm-6 pr-0 pt-1">银行名称：</div>
                                <div class="col-sm-6  pl-0 pr-0">
                                    <span>中国民生银行股份有限公司临沂分行</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-sm-6 pr-0 pt-1">账户名称：</div>
                                <div class="col-sm-6  pl-0 pr-0">
                                    <span>临沂同城商贸有限公司</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-sm-6 pr-0 pt-1">联行号：</div>
                                <div class="col-sm-6  pl-0 pr-0">
                                    <span>305473016119</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-sm-6 pr-0 pt-1">银行账号：</div>
                                <div class="col-sm-6  pl-0 pr-0">
                                    <span>697836893</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td colspan="12" class="p-3">
                    <span class="text-info font-weight-bold">记录</span>
                </td>
            </tr>
            <tr>
                <td colspan="12">
                    <div class="col-3">
                        <div class="form-group">
                            <div class="col-sm-6 pr-0 pt-1">
                                <span>买方：临沂兴鲁商贸有限公司签收完成</span>
                            </div>
                            <div class="col-sm-6  pl-0 pr-0">
                                <span>2020-07-20 12:25:13</span>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <div class="form-group">
            <div class="col-sm-2 control-label"></div>
            <input v-if="order.status == 3" type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="请稍后..."
                   @click="saveOrUpdate" value="重新核验"/>

            &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
        </div>
    </form>
</div>
</div>

<script src="${request.contextPath}/statics/js/modules/transaction/order.js?_${.now?long}"></script>
</body>
</html>