<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-inline">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="name" class="control-label">平台名称：</label>
                            <input type="text" class="form-control" id="name" v-model.trim="q.name" autocomplete="off"
                                   style="width: 120px;">
                            <a class="btn btn-default" @click="query">查询</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-btn">
            <#if shiro.hasPermission("platform:platform:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            </#if>
            <#if shiro.hasPermission("platform:platform:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            </#if>
            <#if shiro.hasPermission("platform:platform:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
            </#if>
         </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">平台名称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="platform.name" placeholder="平台名称"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">域名地址</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="platform.website" placeholder="域名地址"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">网站负责人</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="platform.manager" placeholder="网站负责人"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">联络电话</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="platform.phoneno" placeholder="联络电话"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">平台状态</div>
                <label class="radio-inline">
                    <input type="radio" name="status" value="1" v-model="platform.status"/> 启用
                </label>
                <label class="radio-inline">
                    <input type="radio" name="status" value="0" v-model="platform.status"/> 禁用
                </label>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">银票手续费</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="0.01%" placeholder="银票手续费"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">商票手续费</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="0.1%" placeholder="商票手续费"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">最低手续费</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="12个" placeholder="最低手续费"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">分红比列</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="40%" v-model="platform.bonusPercentage" placeholder="分红比列"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..."
                       @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/platform/platform.js?_${.now?long}"></script>
</body>
</html>