<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <title></title>
    <#include "/header.html">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/modules/enterprise/enterprise.css">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap-select.min.css">
    <script src="${request.contextPath}/statics/libs/bootstrapSelect/bootstrap-select.min.js"></script>
    <script src="${request.contextPath}/statics/libs/bootstrapSelect/defaults-zh_CN.js"></script>
    <link rel="stylesheet" href="${request.contextPath}/statics/plugins/chosen/chosen.css">
    <script src="${request.contextPath}/statics/plugins/chosen/chosen.jquery.js"></script>
   <!-- <script src="${request.contextPath}/statics/libs/pdf.js"></script>-->
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-inline">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="name" class="control-label">企业名称：</label>
                            <input type="text" id="name" class="form-control" v-model.trim="q.name" autocomplete="off"
                                   style="width: 120px;">
                            <label for="account" class="control-label">企业账号：</label>
                            <input type="text" id="account" class="form-control" v-model.trim="q.account" autocomplete="off"
                                   style="width: 120px;">
                            <label for="status" class="control-label">用户状态：</label>
                            <select id="status" class="form-control" v-model="q.status" data-placeholder="请选择用户状态">
                                <option value="">全</option>
                                <option value="2">待平台审核</option>
                                <option value="4">平台审核不通过</option>
                                <option value="8">待银行审核</option>
                                <option value="16">审核失败</option>
                                <option value="32">待激活</option>
                                <option value="64">认证完成</option>
                            </select>
                            <label for="qcustomer" class="chosen-select qcustomer">客服名称：</label>
                            <select id="qcustomer" name="qcustomer" class="chosen-select" data-placeholder=""> </select>
                            <a class="btn btn-default" @click="query">查询</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-btn">
            <!--<#if shiro.hasPermission("enterprise:enterprise:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
        </#if>-->
        <#if shiro.hasPermission("enterprise:enterprise:update")>
        <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
    </#if>
   <!-- <#if shiro.hasPermission("enterprise:enterprise:delete")>
    <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
</#if>-->
</div>
<table id="jqGrid"></table>
<div id="jqGridPager"></div>
</div>

<div v-show="!showList" class="panel panel-default">
    <div class="center">
        <div class="content ">
            <div class="panel-heading">企业信息</div>
            <form action="${request.contextPath}/enterprise/approve" id="inputForm" method="post"
                  class="form-horizontal" style="width: 100%" enctype="multipart/form-data">
                <table class="enter-table mt-5 w-100">
                    <tr>
                        <td colspan="12" class="p-3">
                            <span class="text-info font-weight-bold">企业资料</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8" width="85%">
                            <div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <div class="col-sm-2 pr-0 pt-1">企业名称：</div>
                                        <div class="col-sm-10  pl-0 pr-0">
                                            <span>{{ enterprise.name }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <div class="col-sm-2 pr-0 pt-1">统一社会信用代码：</div>
                                        <div class="col-sm-10  pl-0 pr-0">
                                            <span>{{ enterprise.uscc }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <div class="col-sm-2 pr-0 pt-1">公司地址：</div>
                                        <div class="col-sm-10  pl-0 pr-0">
                                            <span>{{ enterprise.address }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="col-sm-2">
                                        <div class="col-12 pr-0 pt-1">企业授权书：</div>
                                    </div>
                                    <div class="col-sm-10  pl-0 pr-0">
                                        <a href="${request.contextPath}/statics/doc/1.pdf"  target="_blank" title="">查看企业授权书</a>
                                    </div>

                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <div class="col-sm-2 pr-0 pt-1">所属平台：</div>
                                        <div class="col-sm-10  pl-0 pr-0">
                                            <a href="/" title="">有票么</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td colspan="2" rowspan="1">
                            <div class="text-center">
                                <div class="upload-avatar">
<!--                                    <img v-bind:src="imgUrl"/>-->
                                    <img  v-bind:src= "enterprise.businesslicenseurl"
                                         alt="..." width="100px" height="100px" class="layui-upload-img"
                                         onclick="previewImg(this)">
                                    <p class="text-black-50 mt-2">营业执照</p>
                                </div>
                            </div>

                        </td>
                        <td colspan="2" rowspan="1">
                            <div class="text-center">
                                <div class="upload-avatar">
                                    <img v-bind:src= "enterprise.accountopeninglicenseurl"
                                         alt="..." width="100px" height="100px" class="layui-upload-img"
                                         onclick="previewImg(this)">
                                    <p class="text-black-50 mt-2">开户许可证</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="12" class="p-3">
                            <span class="text-info font-weight-bold">法人资料</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8" width="85%">
                            <div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <div class="col-sm-2 pr-0 pt-1">法人名称：</div>
                                        <div class="col-sm-10  pl-0 pr-0">
                                            <span>{{ enterprise.legalrepname }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <div class="col-sm-2 pr-0 pt-1">法人身份证号：</div>
                                        <div class="col-sm-10  pl-0 pr-0">
                                            <span>{{ enterprise.legalrepid }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td colspan="2" rowspan="1">
                            <div class="text-center">
                                <div class="upload-avatar">
                                    <img v-bind:src= "enterprise.legalrepidpicfronturl"
                                         alt="..." width="100px" height="100px" class="layui-upload-img"
                                         onclick="previewImg(this)">
                                    <p class="text-black-50 mt-2">身份证正面</p>
                                </div>
                            </div>
                        </td>
                        <td colspan="2" rowspan="1">
                            <div class="text-center">
                                <div class="upload-avatar">
                                    <img v-bind:src= "enterprise.legalrepidpicbackurl"
                                         alt="..." width="100px" height="100px" class="layui-upload-img"
                                         onclick="previewImg(this)">
                                    <p class="text-black-50 mt-2">身份证背面</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="12" class="p-3">
                            <span class="text-info font-weight-bold">银行资料</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="12" class="p-3">
                            <span class="text-info font-weight-bold" v-model="channelType" value="1" >京东智票</span>&nbsp;&nbsp;&nbsp;
                            <span class="text-info font-weight-bold"  v-model="channelType" value="2" style="margin-left: 50px;">京东智付</span>
                        </td>
                    </tr>

                    <tr v-for="channel in enterprise.channels" v-if="channelType==1" >
                        <td  colspan="4" v-for="bank in channel.banks" >
                            <div  class="col-3">
                                <div class="form-group">
                                    <div class="col-sm-5 pr-0 pt-1">开户行全称：</div>
                                    <div class="col-sm-7  pl-0 pr-0">
                                        <span>{{ bank.name }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <div class="col-sm-5  pr-0 pt-1">银行行号：</div>
                                    <div class="col-sm-7  pl-0 pr-0">
                                        <span>{{ bank.number }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <div class="col-sm-5 pr-0 pt-1">银行账号：</div>
                                    <div class="col-sm-7  pl-0 pr-0">
                                        <span>{{ bank.accountnumber }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <div class="col-sm-5 pr-0 pt-1">户名：</div>
                                    <div class="col-sm-7  pl-0 pr-0">
                                        <span>{{ bank.accountname }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <div class="col-sm-5 pr-0 pt-1">角色类型：</div>
                                    <div class="col-sm-7  pl-0 pr-0">
                                        <span>{{ bank.type }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <div class="col-sm-5 pr-0 pt-1">状态：</div>
                                    <div class="col-sm-7  pl-0 pr-0">
                                        <span>{{ bank.status }}</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="12" class="p-3">
                            <span class="text-info font-weight-bold">经办人信息</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="12">
                            <div class="col-3">
                                <div class="form-group">
                                    <div class="col-sm-2 pr-0 pt-1">经办人姓名：</div>
                                    <div class="col-sm-10  pl-0 pr-0">
                                        <span>{{ enterprise.handlername }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <div class="col-sm-2 pr-0 pt-1">经办人身份证号：</div>
                                    <div class="col-sm-10  pl-0 pr-0">
                                        <span>{{ enterprise.handlerid }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <div class="col-sm-2 pr-0 pt-1">经办人电话：</div>
                                    <div class="col-sm-10  pl-0 pr-0">
                                        <span>{{ enterprise.handlerphoneno }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <div class="col-sm-2 pr-0 pt-1">经办人邮箱：</div>
                                    <div class="col-sm-10  pl-0 pr-0">
                                        <span>{{ enterprise.handleremail }}</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="12" class="p-3">
                            <span class="text-info font-weight-bold">记录</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="12">
                            <div class="col-3">
                                <div class="form-group">
                                    <div class="col-sm-6 pr-0 pt-1">
                                        <span>提交企业资料</span>
                                    </div>
                                    <div class="col-sm-6  pl-0 pr-0">
                                        <span>2020-07-20 12:25:13</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="form-group">
                    <label><input type="radio" v-model="approveStatus" value="1" >审核通过</label>
                </div>
                <div>
                    <label><input type="radio" v-model="approveStatus" value="2" onclick="generateReason()" >审核不通过</label>
                </div>
                <div v-if="approveStatus==2" >
                    <div class="form-group">
                        <div class="col-sm-5">
                            <select id="reason" class="selectpicker show-tick form-control" data-live-search="true" multiple>
                                <option value="1">企业信息不完善</option>
                                <option value="2">银行信息不完善</option>
                                <option value="3">法人信息不完善</option>
                                <option value="4">请上传营业执照正本</option>
                                <option value="5">营业执照不清晰</option>
                                <option value="6">开户许可证不清晰</option>
                                <option value="7">法人身份证正面照不清晰</option>
                                <option value="8">法人身份证背面照不清晰</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="remark" name="remark" value="" placeholder="其它原因"/>
                        </div>
                    </div>

                </div>
                <div class="form-group" style="margin-top: 20px;">
                    <div class="col-sm-2 control-label"></div>
                    <input type="button" class="btn btn-primary" id="examine" data-loading-text="审核中..."
                           @click="examine(approveStatus)" value="确定"/>
                    &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<script src="${request.contextPath}/statics/js/modules/enterprise/enterprise.js?_${.now?long}"></script>
<script>
    $(function() {
        $("#reason").selectpicker({
            noneSelectedText: '请选择'//默认显示内容
        });
        //初始化刷新数据
        $(window).on('load', function() {
            $('#reason').selectpicker('val', '');
            $('#reason').selectpicker('refresh');

        });
    })

    function generateReason() {
        setTimeout(function(){
            $('#reason').selectpicker('val', '');
            $('#reason').selectpicker('refresh');
        }, 1);
    }
</script>
</body>
</html>